<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Phantom.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/OpenTelemetryApi.framework/SC_Info/OpenTelemetryApi.sinf</string>
		<string>Frameworks/RiveRuntime.framework/SC_Info/RiveRuntime.sinf</string>
		<string>Frameworks/hermes.framework/SC_Info/hermes.sinf</string>
		<string>SC_Info/Phantom.sinf</string>
	</array>
</dict>
</plist>
